/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background: url(background.jpg) no-repeat;
  background-size: cover;
  margin-left: 20%;
}

h1{
  font-family: 'Akshar', sans-serif;
  color: azure;
  margin: 5% 10% 5% 0;
}

#request{
  font-family: 'Akshar', sans-serif;
  color: azure;
  background-color: rgba(44, 45, 45, 0.6);
  padding: 10px;
  width:fit-content;
  padding: 1rem;
}

input{
  height: 2.2rem;
  width: 10px;
  cursor: pointer;
}

button{
  height: 2.2rem;
  background: radial-gradient(white, silver);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.display-results{
  font-family: 'Akshar', sans-serif;
  color: azure;
  background-color: rgba(44, 45, 45, 0.6);
  padding: 1rem;
  width: 60%;
  margin-top: 5rem;
}

.hidden{
  display: none;
}

input{
  width: 300px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 850px) {

  body{
    background: url(mobile-background.jpeg) no-repeat;
    margin: 10%;
  }
  
  h1{
    margin-bottom: 10%;
  }

  input{
    margin-bottom: 10%;
  }

  
  .display-results {
    width:fit-content;
    line-height: 3rem;
  }

}